{{#each article}}
   <span>
<div class="panel panel-default">
	<div class="panel-heading">
   	    <h3 class="panel-title" ><a href="{{this.link}}">{{this.title}}</a>
   	    <button data-id="{{this.id}}" class="btn btn-default savearticle">Save Article</button></h3>
    </div>
</div></span>
{{/each}}

    	        	    


