{{#each article}}
   <span>
<div class="panel panel-default">
	<div class="panel-heading">
   	    <strong><h3 class="panel-title" ><a href="{{this.link}}">{{this.title}}</a></strong>
   	    	<p class="panel-body">{{this.summary}}</p>
   	    <button data-id="{{this.id}}" class="btn btn-default savearticle">Save Article</button></h3>
    </div>
</div></span>
{{/each}}

    	        	    


