{{#each article}}
   	<p data-id="{{this.id}}">
   	    <a href="{{this.link}}">{{this.title}}</a>
   	    <button id="delete">Delete</button>
   	    <button id="note">Note</button>
   	</p>
{{/each}}

    	        	    