{{#each article}}
<div class="panel panel-default">
  <div class="panel-heading">
    <strong><h3 class="panel-title"><a href="{{this.link}}">{{this.title}}</a></strong><button data-id="{{this.id}}" class="btn btn-default delete">Delete</button>
   	    <button data-id="{{this.id}}" class="btn btn-default note">Note</button></h3>
</div>
</div>	    
{{/each}}
