{{#each article}}
   	<p>
   	    <a href="{{this.link}}">{{this.title}}</a>
   	    <button data-id="{{this.id}}" class="delete">Delete</button>
   	    <button data-id="{{this.id}}" class="note">Note</button>
   	</p>
{{/each}}

    	        	    