#title {
	text-align: center;
}

.jumbotron, .collapse, .navbar-collapse,#bs-example-navbar-collapse-1 {
	margin: 0;
}

.list-group-item {
	margin: 0 25px 0 25px;
}

.newnote {
	margin-left: 15px;
	width: 360px;

}

.deletenote {
	margin-left: 15px;
	width: 15%;
}

#newnotelist {
	margin-bottom: 10px;
}

#noteinput {
	margin: 0;
	width: 360px;
}

.modal-body {
	background-color: lightgray;
}

#articlescrape {
	height: 50px;
}

.delete {
	margin-left: 10px;
}